/*font Variables*/

$primary-font: 'Roboto',
sans-serif;
$title-font: 'Poppins',
sans-serif;
/*Color Variables*/

$primary-color: #db8d8d;
$primary-color2: #e1cbcb;
$title-color: #222222;
$text-color: #777777;
/*=================== fonts ====================*/

@import url('https://fonts.googleapis.com/css?family=Poppins:700|Roboto:400,500,500i');
